<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>

	<Appenders>
		<RollingFile name="File" fileName="${basePath}/TestLogs"
			filePattern="${basePath}/TestLogs-%d{MM-dd-yyyy}.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="500" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{MM-dd-yyyy} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>		
		<Root level="trace">
			<AppenderRef ref="Console" /> //If needed to record in the file: just change to File instead of Console
			<AppenderRef ref="File" />// So, this xml will log in the file and console in the same time.	
		</Root>		
	</Loggers>
</Configuration>